engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
prefer-workspace-packages=true
shared-workspace-lockfile=true
registry=https://registry.npmmirror.com
fetch-retries=5
fetch-timeout=300000
